:root {
    /* Colors -- https://coolors.co/5a7d7c-dadff7-232c33-a0c1d1-b5b2c2 */
    /*--clr-secondary: #5A7D7C;
    --clr-secondary-darker: rgba(63,88,87,1);
    --clr-background: #232C33;
    --clr-accent: #A0C1D1;
    --clr-muted: #B5B2C2;*/

    /* https://coolors.co/d6fff6-231651-4dccbd-2374ab-ff8484 */
    --clr-secondary: #41C8A6;
    --clr-secondary-darker: #279076;
    --clr-background: #FF8484; 
    --clr-accent: #285CCC;
    --clr-muted: #231651;

    --clr-primary: #e3fcf7;

    --s4: 4px;
    --s8: 8px;
    --s16: 16px;
    --s24: 24px;
    --s32: 32px;
    --s48: 48px;
    --s64: 64px;
    --s128: 128px;

    --default-indent: calc(var(--s16) * 2);

    --t1: 0.1s;
    --t2: 0.2s;

    --phone-width: 500px;

    color: var(--clr-primary);
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.double-border {
    border-width: var(--s4);
    border-style: double;
}